.caja-herramientas-alumno {
    border: 1px solid #000;
    padding: 15px;
    margin-bottom: 20px;
    width: 350px;
    background-color: #f9f9f9;
}


.etiquetas-herramientas {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.boton-cerrar-sesion{
    margin-top: 20px;
    text-decoration: none;
    background-color: rgb(180, 66, 66);
    color: white;
    padding: 10px;
    border-radius: 5px;
}